.goal{
    display: flex;
    justify-content: space-between;
    font-family: auto;
    font-size: 20px;
    font-weight: 600;
}

.donate-naw{
    margin-top: 47px;
    margin-left: 35px;
    border: 1px solid gray;
    padding: 14px 45px;
    border-radius: 9px;
    background-color: brown;
    font-size: 19px;
    font-family: initial;
    color: aliceblue;
    font-weight: 700;
    letter-spacing: 2px;
}

.image{
    border-radius: 5px;
}